<!DOCTYPE html>
<html>
  <head>
    
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>React On Rails Movie Nominator</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>

    <%= yield %>
    <%#= javascript_include_tag 'application' %>
        <%#= javascript_pack_tag 'application' %>
    <%#= yield :after_js %>
  </body>
</html>
